@import './styles/_variables';

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.skill-badge {
  background-color: #eee;
  color: #333;
  padding: 10px 16px;
  border-radius: 20px;
  margin: 6px;
  font-weight: 500;
  font-size: 0.95rem;
}
